<header>
        <div class="header-fixed">
            <h1>IColab.MAUA</h1>
            <button class="header-nav" id="headerBtn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="header-aside" id="headerAsideNav">
        
        </div>
    </header>