<ul class="valuesList">
    <li>
        <div id="modalValue"></div>
    </li>
    <li class="valueItem">
        <article>
            <h3>Comunidade</h3>
            <button class="modal-button" id="value1">VER +</button>
        </article>
    </li>
    <li class="valueItem">
        <article>
            <h3>Biblioteca</h3>
            <button class="modal-button" id="value2">VER +</button>
        </article>
    </li>
    <li class="valueItem">
        <article>
            <h3>Backpacks</h3>
            <button class="modal-button" id="value3">VER +</button>
        </article>
    </li>
    <li class="valueItem">
        <article>
            <h3>Tasks</h3>
            <button class="modal-button" id="value4">VER +</button>
        </article>
    </li>
</ul>


