<!DOCTYPE html>
<html>
<head>
    <title>IColab.Maua</title>
<%-include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
    <%- (body) %>

  <%- include('partials/footer.ejs') %>
 
</body>
</html>
