<ul class="container valuesList">
    <li>
        <div id="modalValue"></div>
    </li>
    <li class="valueItem">
            <h3>Comunidade</h3>

        <div>
            <img src="/assets/images/modal1.svg" alt="Comunidade" class="valueImageCard">

        </div>
            <button class="modal-button" id="value1">VER +</button>

    </li>
    <li class="valueItem">
            <h3>Biblioteca</h3>

        <div>
            <img src="/assets/images/modal2.svg" alt="Biblioteca" class="valueImageCard">

        </div>
            <button class="modal-button" id="value2">VER +</button>

    </li>
    <li class="valueItem">
       <h3>Classrooms</h3>
        <div>
            <img src="/assets/images/modal3.svg" alt="Classrooms" class="valueImageCard">
        </div>
        <button class="modal-button" id="value3">VER +</button>
    </li>
    <li class="valueItem">
            <h3>Tasks</h3>

        <div>
            <img src="/assets/images/modal4.svg" alt="Tasks" class="valueImageCard">

        </div>
            <button class="modal-button" id="value4">VER +</button>

    </li>
</ul>


