<form class="form">
    <div class="form-control">
        <label for="identifier">Email ou Username:</label>
        <input type="text" id="identifier" name="identifier" required>
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="form-control">
        <label for="remember-me">Remember Me:</label>
        <input type="checkbox" id="remember-me" name="remember-me">
    </div>
    <button type="submit">Sign In</button>
    <div class="form-footer">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
        <p><a href="/forgot-password">Forgot Password?</a></p>
    </div>
</form>