       <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <header class="hero">
               <img src="<%=page.bgList[0]%>" alt="<%=page.title%>">
                <h2><%=page.title%></h2>
               <p><%=page.slogan%></p>
           </header>
       </section>