
<main class="main">
    <div class="container">
      
   
      <%-include('../sections/heroes/hero.ejs', {page: page }) %>
   
    
        <section class="section">
          <h3>Nossa História</h3>
                <p>Fomos criados como um <strong>Projeto de Extensão Acadêmica</strong> pelos alunos <em>Aluno 1, Aluno 2, Aluno 3 e Aluno 4</em> do primeiro ano do curso de <em>Engenharia</em> do <strong>Centro Educacional Universitário Instituto Mauá de Tecnologia - CEUN-IMT</strong> localizado na cidade de <em>São Caetano do Sul</em>, com o intuito de criar um <em>sistema de classrooms colaborativos para cursinhos pré - vestibulares </em> e um <em>Sistema de Gestão de Biblioteca de Aprendizado por meio de Items Digitais</em>, mas o propósito logo se expandiu e hoje também contamos de um <em>Sistema de Tasks</em> para gerenciamento de tarefas de nossos usuários e <em>uma comunidade colaborativa em formato de rede social</em> por tudo isso, convidamos você a também fazer parte do nosso núcleo colaborativo</p>
        </section>
     
        <section class="section">
<h3>Nossa Missão</h3>
<p>Nosso objetivo é criar um ambiente colaborativo onde estudantes possam compartilhar conhecimento, recursos e experiências, facilitando o aprendizado e a preparação para vestibulares e concursos.</p>
          </section>
          
        <section class="section">
        
              <hr>
      <h3>Formulário de Contato</h3>
      <p class="slogan">Fale conosco, estamos aqui para ajudar!</p>
      <hr>
      <div class="col-sm-12 col-md-12 col-lg-12"> 
            <form class="form">
              <div class="form-control">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-describedby="emailHelp">
                <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span>
              </div>
              <div class="form-control">
                <label for="message">Solta a voz e fala com a gente!</label>
                <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Escreva sua mensagem..." aria-describedby="messageHelp"></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
 
      </div>
      </section>
      </main>