
    <main>
        <% if(page.id === "signin") { %>
                  <%-include('../sections/heroes/hero.ejs') %>

            <%-include('../sections/forms/signIn.ejs') %>
        <% } else if(page.id === "signup") { %>
                  <%-include('../sections/heroes/hero.ejs') %>

            <%-include('../sections/forms/signUp.ejs') %>
            <!-- Aqui você pode adicionar o formulário de signup -->
        <% } %>
    </main>
